*{
    background-color: #b35c65;
}

.titulo{
    text-align: center;
    padding: 20px;
    background-color: #7b2234;
    /* color: white; */
}

h2{
    background-color: #7b2234;
    color: white;
}

.formulario{
    padding: 20px;
    /* color: white; */
}

legend{
    color: black;
    
}

fieldset{
    border-radius: 20px;
    margin: 20px;
    padding: 20px;    
    border-color: black;
}

label, p{
    font-size: 19px;
}

.form-check-input{
    font-size: 15;
}
