*{
    background-color: #b35c65;
}

.titulo{
    text-align: center;
    padding: 20px;
    background-color: #7b2234;
}

h2{
    background-color: #7b2234;
    color: white;
}

.formulario{
    padding: 20px;
    /* color: white; */
}

legend{
    color: white;
    
}

fieldset{
    border: 3px solid black;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;    
}

label, p{
    font-size: 19px;
    margin-top: 10px;
}

.form-check-input{
    font-size: 15;
}

input{
    margin: 15px 0 15px 0;
}

.btn-primary{
    margin-left: 44%;
}

.btn-secondary{
    margin-left: 2%;
}
