body{
    background-color: #8D3D3F
    ;
}

.carousel-inner{
    height: 550px;
   
}

.titulo{
    background-color: #122035;
    text-align: center;
    color: white;
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5%;
}

.bg-light{
    padding: 0;
}

.btn-lg{
    margin: 10px;
}

p{
    font-size: 30px;
}