/*Varsity*/
@font-face {
    font-family: 'Varsity';
    src: url('../Fonts/varsity_regular.ttf') format('truetype');
}


body {
    background: linear-gradient(45deg, #8C3E69 50%, #122035 50%);
    height: 100vh;
    margin: 0;
  }

  .text{

    text-align: left;
    font-size: 190px;
   padding-top: 20%;
    padding-left: 20px;
    color:beige;

    font-family: 'Varsity', sans-serif; /* Fuente de estilo Varsity */;

  }