/*Varsity*/
@font-face {
    font-family: 'Varsity';
    src: url('../Fonts/varsity_regular.ttf') format('truetype');
}


body {
    background: linear-gradient(45deg, #8c3e69 50%, #122035 50%);
    height: 100vh;
    margin: 0;
  }

  .adminText{
    text-align: left;
    font-size: 190px;
    padding-left: 20px;
    margin-top: -16%;
    color:beige;
    font-family: 'Varsity', sans-serif; /* Fuente de estilo Varsity */;

  }


  .imgS {
    text-align: center;
}

.sha{  
   width: 400px;
    height: 410px;
  margin-top: 6%;

}



.images{
  text-align: right;
}

.shortImg{
  text-align: center;
  margin-top: 1px; /* Ajusta el margen según tus necesidades */
}

 /* Estilos para las etiquetas de información en el menú con ajustes de posición */
 .tooltip2 {
  position: relative; /* Posición relativa para el tooltip */
  display: inline-block; /* Mostrar como un bloque en línea */
  margin-bottom: 45px; /* Margen inferior de 45px */
  align-items: center; /* Alineación de los elementos al centro */
}

.tooltip2::before {
  content: attr(data-tooltip2); /* Contenido del tooltip obtenido del atributo data-tooltip2 */
  display: none; /* Ocultar el tooltip inicialmente */
  position: absolute; /* Posición absoluta para el tooltip */
  top: 10px; /* Colocar el tooltip debajo del elemento */
  left: 50%; /* Ajustar la posición horizontal para que el tooltip esté centrado */
  transform: translateX(-50%); /* Centrar horizontalmente el tooltip */
  padding: 5px 10px; /* Espaciado interno del tooltip */
  background-color: #8C3E69; /* Color de fondo del tooltip */
  color: #ffffff; /* Color del texto del tooltip */
  border-radius: 10px; /* Radio de curvatura para los bordes del tooltip */
  font-family: 'Literata', sans-serif; /* Letra Literata descargada de Google */
  font-size: small; /* Tamaño de fuente Pequeño */
  align-items: center; /* Alineación de los elementos al centro */

}

.tooltip2:hover::before {
  display: block; /* Mostrar el tooltip al pasar el cursor sobre el elemento */
  align-items: center;/* Alineación de los elementos al centro */
}

.miniBox{
  display: inline-block; /* Mostrar los elementos como elementos en línea */
  margin: 10px; /* Espacio entre las cajas */
  text-align: center; /* Centrar el contenido horizontalmente */
 
}

.circleImg{
  height: 10px;
  width: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 100px;
}

.menu-button:hover{
  transform: scale(1.15);
  transition: all 300ms;
}

.menu-button{
  transition: all 300ms;
}


/*PIE DE PAGINA*/
    
    
        /* Estilos para el pie de página */
        footer {
          background-color: #8c3e69; /* Color de fondo del pie de página con transparencia */
          font-size: 14px; /* Tamaño de fuente de 14px */
          color: #ffffff; /* Color del texto en blanco */
          width: 100%; /* Ancho del pie de página al 100% */
          border: 4px solid #000000; /* Agregar un borde sólido de 1px en color blanco */
          border-top-left-radius: 40px; /* Radio circular en la esquina superior izquierda */
          border-top-right-radius: 40px; /* Radio circular en la esquina superior derecha */
          border-bottom: 1px solid #8C3E69; /* Borde recto en la parte inferior */
          display: flex; /* Utilizamos flexbox para organizar los elementos dentro del footer */
          justify-content: space-between; /* Distribuir los elementos de forma equitativa */
          align-items: center; /* Alinear los elementos verticalmente al centro */
          padding: 5px; /* Agrega un espacio interno para separar los elementos del borde del footer */
          position: fixed; /* Cambiado a fixed para que esté siempre visible */
          bottom: 0; /* Posicionar en la parte inferior */
      }
  
      /* Estilos para el contenido del pie de página */
      footer .content {
          display: flex; /* Mostrar los elementos como flexbox */ /* organiza elementos dentro de un contenedor de una manera flexible y dinámica*/
          align-items: center; /* Alinear verticalmente el contenido */
      }
  
      footer .content2 {
          position: absolute; /* Cambiar a posición absoluta */
          display: flex;
          align-items: center;
          bottom: 15px; /* Alinear en la parte inferior del pie de página con un pequeño margen */
          right: 15px;
      }
  
      /* Estilos para la imagen del pie de página */
      footer img {
          width: 85px; /* Ancho de la imagen */
          height: 85px; /* Altura de la imagen */
          align-items: center; /* Alineación de los elementos al centro */
      }
  
      /* Estilos para el contenedor del texto en el pie de página */
      footer .text-container {
          display: flex; /* Mostrar los elementos como flexbox */
          flex-direction: column; /* Organizar el contenido en una columna */
          justify-content: center; /* Alinear verticalmente el texto al centro */
      }
  
      footer a {
          color: #ffffff; /* Color del texto en blanco */
          margin: 0; /* Margen de 0 para eliminar espacios innecesarios */
          text-decoration: underline; /* Subrayar el enlace */
          text-align: left;
      }
  
      footer p {
          margin: 0; /* Margen de 0 para eliminar espacios innecesarios */
      }
  
      /* Estilos para las imágenes en el pie de página */
      .imagefoot {
          align-items: center; /* Alineación de los elementos al centro */
          width: 50px; /* Ancho de la imagen */
          height: 50px; /* Altura de la imagen */
          justify-content: flex-end; /* Alinear todos los elementos a la derecha */
          padding: 5px; /* Espaciado interno de 5px */
          border-radius: 30px; /* Radio de curvatura para los bordes de la imagen */
      }
  
      /* Estilos para las imágenes del las imagenes del foot  */
      .image-container4 {
          position: relative; /* Posición relativa para el contenedor de la imagen */
          display: inline-block; /* Mostrar como un bloque en línea */
          transition: transform 0.3s ease-in-out; /* Transición para suavizar el efecto al resaltar la imagen */
      }
      
      .image-container4 img {
          display: block; /* Mostrar la imagen como un bloque */
          border-radius: auto; /* Opcional: agregar bordes redondeados a la imagen */
          object-fit: cover; /* Ajustar la imagen para que cubra todo el contenedor */
      }
      
      .image-container4.center {
          transform: scale(1.15); /* Aumentar el tamaño de la imagen en 15% */
          z-index: 1; /* Asegurar que la imagen resaltada esté encima de las demás */
          cursor: pointer; /* Cambiar el cursor a una mano para indicar que es clickeable */
      }

      .menu-button:hover{
        transform: scale(1.15);
        transition: all 300ms;
    }
    
    .menu-button{
        transition: all 300ms;
    }


      /* MEDIA QUERIES */

@media (max-width: 325px) {
  /* dispositivos móviles pequeños */
  footer{
      padding: 5px; /* Agrega un espacio interno para separar los elementos del borde del footer */
       
  }

  footer img {
      width:  40px; /* Ancho de la imagen en "em" */
      height: 40px; /* Altura de la imagen en "em" */
     
  }

  footer a {
      font-size: 5px;
  }
  
  footer p {
      font-size: 6px;
  }

  footer .content2 {
      position: absolute; /* Cambiar a posición absoluta */
      display: flex;
      align-items: center;
      bottom: 5px;
      

  }

  .imagefoot {
      width: 25px;
      height: 25px;
      align-items: center; /* Alineación de los elementos al centro */
      margin-bottom: 0%;
      margin-right: 0px;
      
  }
  

  .tooltip::before {
     
      font-size: 7px; /* Tamaño de fuente del tooltip en "em" */
  }
  
  /*acaaa */

  .images{
    padding-right: 20px;
  }
 
 .shortImg{
     text-align: center;
     margin-top: 1px; /* Ajusta el margen según tus necesidades */
 }
 
 .circleImg{
     height: 30px;
     width: 30px;
     margin-left: 3px;
     margin-right: 3px;
     margin-top: 5px;
     margin-bottom: 55px;
     border-radius: 100px;
     border: .2px solid #ffffff;
     
 }


 .schImg {
  width: 50%; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Para mantener la proporción original */
  border-radius: 20px;
  transition: transform 0.5s, filter 0.5s; /* Agrega transiciones suaves */
 
}

.tooltip2::before {
 
  top: 44px; /* Colocar el tooltip debajo del elemento */
  border-radius: 5px; /* Radio de curvatura para los bordes del tooltip */
  font-size: 6px; /* Tamaño de fuente Pequeño */
  border: .5px solid #ffffff;
}

.adminText{
  text-align: left;
  font-size: 6px;
  padding-left: 10px;
  padding-bottom: 160px;
  margin-top: -80%;
  color:beige;
  font-family: 'Varsity', sans-serif; /* Fuente de estilo Varsity */;

}


.sha{  
 width: 120px;
  height: 130px;
margin-top: 35%;

}

}

/* Media query para teléfonos móviles */
@media (min-width: 326px) and (max-width: 509px) {
  footer{
      padding: 5px; /* Agrega un espacio interno para separar los elementos del borde del footer */
       
  }

  footer img {
      width:  50px; /* Ancho de la imagen en "em" */
      height: 50px; /* Altura de la imagen en "em" */
     
  }

  footer a {
      font-size: 9px;
  }
  
  footer p {
      font-size: 10px;
  }

  footer .content2 {
      position: absolute; /* Cambiar a posición absoluta */
      display: flex;
      align-items: center;
      bottom: 10px;
  }

  .imagefoot {
      width: 30px;
      height: 30px;
      align-items: center; /* Alineación de los elementos al centro */
      margin-bottom: 0%;
      margin-right: 0px;
      
  }

  .tooltip::before {
     
      font-size: 12px; /* Tamaño de fuente del tooltip en "em" */
  }


  .images{
    text-align: center;
  }
 
 .shortImg{
     text-align: center;
     margin-top: 1px; /* Ajusta el margen según tus necesidades */
 }
 
 .circleImg{
  height: 60px;
  width: 60px;
  padding-top: 1px;
  border-radius: 100px;
  margin-left: 2px;
  margin-right: 2px;
  border: .2px solid #ffffff;
  
}


 .schImg {
  width: 50%; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Para mantener la proporción original */
  border-radius: 20px;
  transition: transform 0.5s, filter 0.5s; /* Agrega transiciones suaves */
 
}

.tooltip2::before {
 
  top: 30px; /* Colocar el tooltip debajo del elemento */
  border-radius: 5px; /* Radio de curvatura para los bordes del tooltip */
  font-size: 9px; /* Tamaño de fuente Pequeño */
  border: .5px solid #ffffff;
}

.adminText{
  text-align: left;
  font-size: 6px;
  padding-left: 10px;
  color:beige;
  margin-top: -315px;
  margin-bottom: 250px;
  font-family: 'Varsity', sans-serif; /* Fuente de estilo Varsity */;

}


.sha{  
 width: 190px;
  height: 200px;
margin-top: 50%;

}

}

/* Media query para tablets y dispositivos pequeños */
@media (min-width: 510px) and (max-width: 670px) {
  footer{
      padding: 4px; /* Agrega un espacio interno para separar los elementos del borde del footer */
       
  }

  footer img {
      width:  70px; /* Ancho de la imagen en "em" */
      height: 70px; /* Altura de la imagen en "em" */
     
  }

  footer a {
      font-size: 12px;
  }
  
  footer p {
      font-size: 13px;
  }

  footer .content2 {
      position: absolute; /* Cambiar a posición absoluta */
      display: flex;
      align-items: center;
      bottom: 15px;
  }

  .imagefoot {
      width: 40px;
      height: 40px;
      align-items: center; /* Alineación de los elementos al centro */
      margin-bottom: 0%;
      margin-right: 0px;
      
  }
  
  .tooltip::before {
     
      font-size: 13px; /* Tamaño de fuente del tooltip */
  }

  
  .images{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
 
 .shortImg{
     text-align: center;
     margin-top: 1px; /* Ajusta el margen según tus necesidades */
 }
 
 .circleImg{
  height: 70px;
  width: 70px;
  padding-top: 1px;
  border-radius: 100px;
  margin-left: 2px;
  margin-right: 2px;
  border: .2px solid #ffffff;
  
}


 .schImg {
  width: 50%; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Para mantener la proporción original */
  border-radius: 20px;
  transition: transform 0.5s, filter 0.5s; /* Agrega transiciones suaves */
 
}

.tooltip2::before {
 
  top: 30px; /* Colocar el tooltip debajo del elemento */
  border-radius: 5px; /* Radio de curvatura para los bordes del tooltip */
  font-size: 9px; /* Tamaño de fuente Pequeño */
  border: .5px solid #ffffff;
}

.adminText{
  text-align: left;
  font-size: 6px;
  padding-left: 10px;
  color:beige;
  margin-top: -335px;
  margin-bottom: 250px;
  font-family: 'Varsity', sans-serif; /* Fuente de estilo Varsity */;

}


.sha{  
 width: 210px;
  height: 220px;
margin-top: 25%;

}


}

/* Media query para tablets y dispositivos medianos */
@media (min-width: 671px) and (max-width: 790px) {
  footer a {
      font-size: 1.1em;
      margin-top: 2px;
  }
  
  footer p {
      font-size: .9em;
  }

  footer img {
      width: 5.3em; /* Ancho de la imagen en "em" */
      height: 5.3em; /* Altura de la imagen en "em" */
     
  }
  .imagefoot {
      width: 3.5em; /* Ancho de la imagen en "em" */
      height: 3.5em; /* Altura de la imagen en "em" */
      align-items: center; /* Alineación de los elementos al centro */
      
  }
  
  
  .tooltip::before {
     
      font-size: 18px; /* Tamaño de fuente del tooltip en "em" */
  }


  
  .images{
    text-align: center;
    padding-top: 140px;
    padding-bottom: 140px;
  }
 
 .shortImg{
     text-align: center;
     margin-top: 1px; /* Ajusta el margen según tus necesidades */
 }
 
 .circleImg{
  height: 100px;
  width: 100px;
  padding-top: 1px;
  border-radius: 100px;
  margin-left: 2px;
  margin-right: 2px;
  border: .2px solid #ffffff;
  
}


 .schImg {
  width: 50%; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Para mantener la proporción original */
  border-radius: 20px;
  transition: transform 0.5s, filter 0.5s; /* Agrega transiciones suaves */
 
}

.tooltip2::before {
 
  top: 22px; /* Colocar el tooltip debajo del elemento */
  border-radius: 5px; /* Radio de curvatura para los bordes del tooltip */
  font-size: 16px; /* Tamaño de fuente Pequeño */
  border: .5px solid #ffffff;
}

.adminText{
  text-align: left;
  font-size: 6px;
  padding-left: 10px;
  color:beige;
  margin-top: -475px;
  margin-bottom: 250px;
  font-family: 'Varsity', sans-serif; /* Fuente de estilo Varsity */;

}


.sha{  
 width: 320px;
  height: 330px;
margin-top: 30%;

}



}

/* Media query para escritorios y pantallas grandes */
@media (min-width: 791px) and (max-width: 915px) {
  footer{
      padding: 4px; /* Agrega un espacio interno para separar los elementos del borde del footer */
       
  }

  footer img {
      width:  90px; /* Ancho de la imagen en "em" */
      height: 90px; /* Altura de la imagen en "em" */
     
  }

  footer a {
      font-size: 19px;
  }
  
  footer p {
      font-size: 20px;
  }

  footer .content2 {
      position: absolute; /* Cambiar a posición absoluta */
      display: flex;
      align-items: center;
      bottom: 15px;
  }

  .imagefoot {
      width: 60px;
      height: 60px;
      align-items: center; /* Alineación de los elementos al centro */
      margin-bottom: 0%;
      margin-right: 0px;
      
  }

  .tooltip::before {
     
      font-size: 22px; /* Tamaño de fuente del tooltip en "em" */
  }


  .images{
    text-align: center;
    padding-top: 320px;
    padding-bottom: 140px;

  }
 
 .shortImg{
     text-align: center;
     margin-top: 1px; /* Ajusta el margen según tus necesidades */
 }
 

 .circleImg{
  height: 100px;
  width: 100px;
  padding-top: 1px;
  border-radius: 100px;
  margin-left: 2px;
  margin-right: 2px;
  border: .2px solid #ffffff;
  
}


 .schImg {
  width: 50%; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Para mantener la proporción original */
  border-radius: 20px;
  transition: transform 0.5s, filter 0.5s; /* Agrega transiciones suaves */
}


.tooltip2::before {
  top: 15px; /* Colocar el tooltip debajo del elemento */
  border-radius: 5px; /* Radio de curvatura para los bordes del tooltip */
  font-size: 18px; /* Tamaño de fuente Pequeño */
  border: .5px solid #ffffff;
}

.adminText{
  text-align: left;
  font-size: 6px;
  padding-left: 10px;
  color:beige;
  margin-top: -645px;
  margin-bottom: 250px;
  font-family: 'Varsity', sans-serif; /* Fuente de estilo Varsity */;

}


.sha{  
 width: 380px;
  height: 390px;
margin-top: 40%;

}


}

@media (min-width: 916px) and (max-width: 2100px) {
  footer {
      position:fixed;
  }
  footer a {
      font-size: 1.1em;
      margin-top: 0px;
  }

  
  footer p {
      font-size: 1em;
  }

  footer img {
      width: 5.3em; /* Ancho de la imagen en "em" */
      height: 5.3em; /* Altura de la imagen en "em" */
     
  }
  .imagefoot {
      width: 3.5em; /* Ancho de la imagen en "em" */
      height: 3.5em; /* Altura de la imagen en "em" */
      padding-bottom: .01px;
      
  }
  
  .tooltip::before {
     
      font-size: 15px; /* Tamaño de fuente del tooltip en "em" */
  }

  .images{
    text-align: right;
    padding-bottom: 50px;
  }

  .shortImg{
    text-align: center;
    margin-top: 1px; /* Ajusta el margen según tus necesidades */
  }
 

 .circleImg{
  height: 60px;
  width: 60px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  border-radius: 100px;

}



.schImg {
  width: 30%; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Para mantener la proporción original */
  border-radius: 20px;
  transition: transform 0.5s, filter 0.5s; /* Agrega transiciones suaves */
 
}


.tooltip2::before {
  content: attr(data-tooltip2); /* Contenido del tooltip obtenido del atributo data-tooltip2 */
  display: none; /* Ocultar el tooltip inicialmente */
  position: absolute; /* Posición absoluta para el tooltip */
  top: 28px; /* Colocar el tooltip debajo del elemento */
  left: 50%; /* Ajustar la posición horizontal para que el tooltip esté centrado */
  transform: translateX(-50%); /* Centrar horizontalmente el tooltip */
  padding: 5px 10px; /* Espaciado interno del tooltip */
  background-color: #8C3E69; /* Color de fondo del tooltip */
  color: #ffffff; /* Color del texto del tooltip */
  border-radius: 10px; /* Radio de curvatura para los bordes del tooltip */
  font-family: 'Literata', sans-serif; /* Letra Literata descargada de Google */
  font-size: small; /* Tamaño de fuente Pequeño */
  align-items: center; /* Alineación de los elementos al centro */
}

.adminText{
  text-align: left;
  font-size: 190px;
  padding-left: 20px;
  margin-top: -26%;
  color:beige;
  font-family: 'Varsity', sans-serif; /* Fuente de estilo Varsity */;


}

.sha{  
  width: 400px;
   height: 410px;
 margin-top: 3%;

}




 
}