*{
    background-color: #b35c65;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #7b2234;
}
.titulo h2{
    background-color: #7b2234;
    color: white;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formulario{
    padding: 20px;
    /* color: white; */
}

legend{
    color: white;
    
}

fieldset{
    border: 3px solid black;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;    
}

label, p{
    font-size: 19px;
    margin-top: 10px;
}

.form-check-input{
    font-size: 15;
}

input{
    margin: 15px 0 15px 0;
}


.botones{
    display: flex;
    justify-content: center;
}

.botones button{
    margin: 0 10px;
}

.btn-secondary{
    margin-left: 2%;
}

.ipn{
    width: 100px;
    height: 100px;
    margin-left: 8px;
}

.ipn img{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
}

.escom{
    width: 100px;
    height: 100px;
    margin-right: 8px;
}

.escom img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
}